h1{
    color: darkblue;
    font-style: italic;
}

ul{
    margin-top:30px;
}

.navbar {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-image: linear-gradient(to bottom right,#edf6fd, #b3cadd)
}